<config>
    <string name="ITEM_URL" value="http://www.codegears.co.th/coca/item.xml" />
    <string name="BUILDING_URL" value="http://www.codegears.co.th/coca/building.xml" />
    <string name="PLAYER_URL" value="http://www.codegears.co.th/coca/player.xml" />
	
	<string name="AUDIO_LIST" value="MUSIC_1,MUSIC_2" />
	<string name="MUSIC_1" value="http://www.codegears.co.th/coca/bgmusic1.mp3" />
	<string name="MUSIC_2" value="http://www.codegears.co.th/coca/bgmusic1.mp3" />
</config>